.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    width: 100px !important;
    padding: 8px 16px;
    margin: 10px !important;
    background-color: #751F22 !important;
    color: #fafafa !important;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pagination button:disabled {
    background-color: #9b5c5e !important;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
  }
  