.admin-login-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* This ensures the prompt takes full viewport height */
    background-color: #f4f4f4;  /* A light grey background */
    color: #333; /* Dark grey text for readability */
    font-family: 'Arial', sans-serif; /* Simple and clean font */
}

.admin-login-prompt h1 {
    margin-top: 20px;
    font-size: 24px;
    color: #5a5a5a; /* Slightly darker text for the heading */
}

/* Styling for the Login button, assuming it's within LoginB component */
.LoginB-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Bootstrap blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.LoginB-button:hover {
    background-color: #0056b3; /* Darken button on hover */
}
